body {

    background-image:url("../images/night_city.jpg");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.errorText {
	color: rgb(179, 0, 0);
}

.messageText {
	color: white;
}

.successText {
	color: rgb(0, 153, 51);
}